html {
  box-sizing: border-box;
}

*,
::before,
::after {
  box-sizing: inherit;
}

body {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 0;
  min-width: 320px;
  font: 16px/1.5 'Main-Font', sans-serif;
  color: #000;
  height: 100vh;
}

img {
  max-width: 100%;
  height: auto;
  object-fit: contain;
}

a {
  text-decoration: none;
}

a:focus {
  outline: none;
}

p {
  width: 100%;
  text-align: center;
  font-weight: bold;
  font-size: 50px;
  margin: 0 auto;
}
p:first-child {
  align-self: flex-end;
}
p:last-child {
  align-self: flex-start;
}
